<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>
<body>
    <header>
        <h1><%= user.firstname%>'s all blogs</h1>
    </header>
    <%- include('../blogPartials/nav.ejs') %>
    <main>
        <% if (locals.blogs) { %>
            <% for (let i=0; i<blogs.length; i++) { %>
                <h3><%= blogs[i].title %></h3>
                <p><%= blogs[i].content %></p>
                <a href="">Update</a> <a href="">Delete</a>
            <% } %>
        <% } else { %>
            <p> No blogs to display </p>
        <% } %>
    </main>
    <%- include('../../partials/footer.ejs') %>
</body>
</html>