<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>
<body>
    <header>
        <h1>Your blogs</h1>
    </header>
    <%- include('../blogPartials/nav.ejs') %>
    <main>
        <% if (locals.blogs) { %>
            <% for (let i=0; i<blogs.length; i++) { %>
                <h3><a href="/blog/list/<%= blogs[i]._id %>"><%= blogs[i].title %></a></h3>
            <% } %>
        <% } else { %>
            <p> No blogs to display </p>
        <% } %>
    </main>
    <%- include('../../partials/footer.ejs') %>
</body>
</html>